.vscode
**/a.out
*.aiff
*.brk
*.o
*.wav
chapter2/envx/envx
chapter2/oscgen/oscgen
chapter2/sf2float/sf2float
chapter2/sfenv/sfenv
chapter2/sfgain/sfgain
chapter2/sfnorm/sfnorm
chapter2/sfpan/sfpan
chapter2/sfprops/sfprops
chapter2/siggen/siggen
chapter2/tabgen/tabgen
chapter3/hellotable/hellotable
