.vscode
**/a.out
*.aiff
*.brk
*.o
*.wav
chapter1/envx/envx
chapter1/oscgen/oscgen
chapter1/sf2float/sf2float
chapter1/sfenv/sfenv
chapter1/sfgain/sfgain
chapter1/sfnorm/sfnorm
chapter1/sfpan/sfpan
chapter1/sfprops/sfprops
chapter1/siggen/siggen
